* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-dark: #5c6981;
  --gray-medium: #8e9aaf;
  --gray-light: #cbc0d3;
  --white-medium: #feeafa;
  --white-light: #eff1ff;
  font-size: 62.5%;
  font-style: normal;
  font-weight: 400;
  --text: clamp(1.4rem, 2.4rem, 3rem);
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.2rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes totopdown {
  0% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes todowntop {
  0% {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

body {
  font-family: "Staatliches", cursive;
  max-width: 38.4rem;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  text-align: center;
  padding: 3.2rem 0 2.9rem;
  background: var(--gray-medium);
  animation: totopdown 0.7s;
}

header .logo {
  margin: auto;
  background-image: url(./images/logo2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 13.7rem;
  height: 13.7rem;
  padding-bottom: 3.2rem;
  animation: levitate 3s infinite ease-in-out;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
  transition: 0.2s all ease;
}

header .logo:hover {
  background-image: url(./images/logo1.svg);
}

header .logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4.9rem;
  background: var(--gray-light);
}

header .logo-title p {
  font-size: 4rem;
  line-height: 34px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

header .text-main-ice-cream {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: var(--text);
  line-height: 2rem;
  padding: 0 5.4rem 12.5rem;
  display: none;
}

main {
  background: var(--white-light);
  text-align: center;
}

main .page {
  padding: 1.4rem 3.2rem 6rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 6.3rem;
}

main .text-main-ice-cream {
  text-align: center;
  font-family: "Palanquin", sans-serif;
  color: #23053a;
  font-size: 2.4rem;
  line-height: 2rem;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.flex {
  position: relative;
}

.ice-cream1,
.ice-cream2,
.ice-cream3,
.ice-cream4 {
  filter: brightness(0.5);
  border-radius: 2rem;
  position: relative;
  width: 32rem;
  transition: all ease 0.4s;
  animation: todowntop 0.7s;
}

.ice-cream1:hover,
.ice-cream2:hover,
.ice-cream3:hover,
.ice-cream4:hover {
  filter: brightness(1);
  transform: scale(1.1);
}

.ice-cream1,
.ice-cream3 {
  height: 25rem;
}

.ice-cream2,
.ice-cream4 {
  height: 45rem;
}

.ice-cream1 {
  background-image: url(./images/sorvete1.png);
}

.ice-cream2 {
  background-image: url(./images/sorvete2.png);
}

.ice-cream3 {
  background-image: url(./images/sorvete3.png);
}

.ice-cream4 {
  background-image: url(./images/sorvete4.png);
}

main .image-wrapper .flex:nth-child(1) .ice-cream4,
main .image-wrapper .flex:nth-child(2) .ice-cream3,
main .image-wrapper .flex:nth-child(3) .ice-cream1,
main .image-wrapper .flex:nth-child(3) .ice-cream4 {
  display: none;
}

.label-ice-cream {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  width: 11.2rem;
  height: 3.5rem;
  background: var(--white-medium);
  border-radius: 2rem;
  padding: 0rem 2.4rem;
  text-align: center;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: #4a4e69;
  filter: brightness(1);
  animation-delay: 7s;
  animation: totopdown 1.5s;
}

footer {
  display: none;
}

@media (min-width: 700px) and (max-width: 929px) {
  body {
    max-width: 100%;
  }

  main .page {
    padding: 1.4rem 12rem 6rem;
  }

  .ice-cream1,
  .ice-cream2,
  .ice-cream3,
  .ice-cream4 {
    width: 100%;
    height: 50rem;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 930px) {
  body {
    max-width: 100%;
    display: grid;
    grid-template-columns: 37.7rem 1fr;
    grid-template-areas:
      "header main"
      "header footer";
  }

  header {
    grid-area: header;
    width: 100%;
    padding-top: 3.2rem;
  }

  header .logo-title p {
    font-size: 3rem;
  }

  header .text-main-ice-cream {
    display: inline-block;
    font-size: var(--text);
  }

  main {
    background: #ffffff;
    grid-area: main;
  }

  main .page {
    padding: 6.4rem 8.1rem 5rem 9.8rem;
  }

  main .page .image-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  main .text-main-ice-cream {
    display: none;
  }

  main .ice-cream1,
  main .ice-cream3 {
    height: 22rem;
  }

  main .image-wrapper .flex {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  main .image-wrapper .flex:nth-child(1) .ice-cream4,
  main .image-wrapper .flex:nth-child(2) .ice-cream3,
  main .image-wrapper .flex:nth-child(3) .ice-cream4,
  main .image-wrapper .flex:nth-child(3) .ice-cream1 {
    display: inline-block;
  }

  main .image-wrapper .flex:nth-child(3) .ice-cream3,
  main .image-wrapper .flex:nth-child(4) {
    display: none;
  }

  main .label-ice-cream {
    display: none;
  }

  footer {
    display: inline-block;
    grid-area: footer;
    height: 7.4rem;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: #4a4e69;
    background: #ffffff;
  }

  footer a {
    text-decoration: none;
  }

  footer a span {
    font-weight: 700;
  }
}
